:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.users{
  display:inline-flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  columns: 4;
  .card{
    background-color: rgb(232, 229, 229);
    padding: 1rem;
    margin: 2rem;
  }
}

.todo{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: 'Poppins' sans-serif;
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}